# fly.toml app configuration file generated for owasp-bookshop on 2026-02-12T21:58:24+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'graphql-bookstore'
primary_region = 'iad'

[build]
  image = 'ipsalmy/graphql:latest'

[env]
  PORT = '4000'

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
